<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div class="row mb-2" layout:fragment="content-header">
    <div class="col-sm-6">
        <h1>Tabel Biodata</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Tabel Biodata</li>
        </ol>
    </div>
</div>

<div class="row" layout:fragment="content-body">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List Biodata</h3>
                <button class="float-right btn-primary" id="btn-tambah-biodata">Tambah</button>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table class="table table-striped table-bordered table-hover nowrap" id="tableBiodata"
                       style="width:100%"></table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-biodata">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Form Biodata</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form role="form" id="form-biodata">
                        <input name="idBiodata" type="hidden" id="idBiodata">
                        <input name="idPerson" type="hidden" id="idPerson">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nik" class="col-sm col-form-label">NIK</label>
                                <div class="col-sm">
                                    <input type="text" class="form-control" id="nik" name="nik" required placeholder="Nomor Induk Kependudukan">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm col-form-label">Nama</label>
                                <div class="col-sm">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Masukkan Nama anda">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="alamat" class="col-sm-2 col-form-label">Alamat</label>
                                <div class="col-sm-12">
                                    <input type="alamat" class="form-control" id="alamat" name="alamat" placeholder="Alamat Anda">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="hp" class="col-sm col-form-label">No HP</label>
                                <div class="col-sm">
                                    <input type="text" class="form-control" id="hp" name="hp" placeholder="Handphone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date" class="col-sm-12 col-form-label">Tanggal Lahir</label>
                                <div class="col-sm-12">
                                    <input type="date" class="form-control date" id="date" name="tgl" placeholder="Tanggal Lahir">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tempatLahir" class="col-sm col-form-label">Tempat Lahir</label>
                                <div class="col-sm">
                                    <input type="text" class="form-control" id="tempatLahir" name="tempatLahir" placeholder="Tempat Lahir">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" id="btn-save-biodata" type="button" >Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


</div>

<th:block layout:fragment="add-scripts">
    <script th:src="@{/assets/js/biodata.js}"></script>
    <script th:src="@{/assets/js/person.js}"></script>
    <script th:src="@{/assets/js/default.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</th:block>


<th:block layout:fragment="script">

</th:block>
</body>
</html>
